<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="fr.centralesupelec.edf.riseclipse.developer.eclipse.ui" sequenceNumber="1611222780">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.12.0.v20190605-1801"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.400.v20190515-0925"/>
      <unit id="org.eclipse.ui.trace" version="1.1.500.v20190513-1223"/>
      <unit id="org.eclipse.swt" version="3.111.0.v20190605-1801"/>
      <unit id="org.eclipse.jface" version="3.16.0.v20190528-0922"/>
      <unit id="org.eclipse.jdt.annotation" version="2.2.300.v20190328-1431"/>
      <unit id="org.eclipse.core.commands" version="3.9.400.v20190516-1358"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.18.0.v20190528-0845"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="2.15.0.v20190528-0725"/>
      <unit id="org.eclipse.emf.edit.ui.feature.group" version="2.17.0.v20190323-1059"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.16.0.v20190528-0845"/>
      <unit id="org.eclipse.ocl.unified.core.feature.group" version="1.8.0.v20190603-1146"/>
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <unit id="org.eclipse.xtext" version="2.18.0.v20190528-0021"/>
      <unit id="org.eclipse.xtext.util" version="2.18.0.v20190528-0021"/>
      <repository location="http://download.eclipse.org/releases/2019-06"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
      <unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
      <unit id="com.google.inject" version="3.0.0.v201605172100"/>
      <unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
      <repository id="orbit-2019-06" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20190602212107/repository/"/>
    </location>
  </locations>
</target>
